#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.inline {
  display: inline-block;
  margin-right: 10px;
}

#weatherBox {
  width: 300px;
  height: 300px;
  margin-left: 100px;
}

.freezing {
  background-color: aqua;
}

.fair {
  background-color: orange;
}

.hell-scape {
  background-color: red;
}
