.container {
  display: flex;
  align-items: center;
  padding: 20px;
  border: white 2px solid;
}

.container .box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #6495ec;
  border: 2px solid white;
  flex: 1;
  color: white;
  font-weight: bold;
}

.container2 {
  display: flex;
  align-items: center;
  padding: 20px;
  border: white 2px solid;
}

.container2 .box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #6495ec;
  border: 2px solid white;
  color: white;
  font-weight: bold;
}

.container2 .box1 {
  flex: 1;
}

.container2 .box2 {
  flex: 2;
}

.container2 .box3 {
  flex: 2;
}
